<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Seleccionar barbería</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-searchbar placeholder="Buscar por nombre, ubicación, etc." [(ngModel)]="searchTerm" showCancelButton="focus" animated>

  </ion-searchbar>


  <ion-list>
    <ion-item>
      <ion-label>
        <ion-card button  *ngFor = "let i of barberia | async | filter:searchTerm">
           <div (click)=" getDatosBarberia(i.barbershop_id)" >
            <ion-item class="scrolling-wrapper">
              <strong>
                <ion-label fill="center"> {{i.nombre}}</ion-label>
              </strong>
            </ion-item>
            <ion-card-content >
              Calificación: {{i.calificacion}} <br>
              Dirección : {{i.direccion}} <br>
            </ion-card-content>
           </div>
        </ion-card>
      </ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>
