<ion-header>
  <div *ngFor = "let i of barberia | async ">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Galería {{i.nombre}}</ion-title>
    </ion-toolbar>
    </div>
</ion-header>

<ion-content>

  

  <!-- INICIO NAVBAR FOOTER-->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/horario']">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Horarios</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/location']">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/galeria']">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label>Galería</ion-label>
      </ion-tab-button>
      <ion-tab-button [routerLink]="['/contacto']">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
<!-- FIN NAVBAR FOOTER-->
</ion-content>
