<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>'nombre barberia'</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule" [routerLink]="['/horario']">
        <ion-icon name="calendar-outline"></ion-icon>
        <ion-label>Horarios</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="ubication" [routerLink]="['/location']">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>Ubicación</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="gallery" [routerLink]="['/galeria']">
        <ion-icon name="images-outline"></ion-icon>
        <ion-label>Galería</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="contact" [routerLink]="['/contacto']">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Contacto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
</ion-content>
